docker/docker-compose.yml
docker/Dockerfile
docker/php.ini
docker/site.conf
docker/mariadb/aria_log_control
docker/mariadb/aria_log.00000001
docker/mariadb/ib_buffer_pool
docker/mariadb/ib_logfile0
docker/mariadb/ib_logfile1
docker/mariadb/ibdata1
docker/mariadb/ibtmp1
docker/mariadb/multi-master.info
docker/mariadb/dev_sa/aanwezig_leden_view.frm
docker/mariadb/dev_sa/aanwezig_vliegtuigen_view.frm
docker/mariadb/dev_sa/daginfo_view.frm
docker/mariadb/dev_sa/db.opt
docker/mariadb/dev_sa/leden_view.frm
docker/mariadb/dev_sa/oper_aanwezig_leden.frm
docker/mariadb/dev_sa/oper_aanwezig_leden.ibd
docker/mariadb/dev_sa/oper_aanwezig_vliegtuigen.frm
docker/mariadb/dev_sa/oper_aanwezig_vliegtuigen.ibd
docker/mariadb/dev_sa/oper_daginfo.frm
docker/mariadb/dev_sa/oper_daginfo.ibd
docker/mariadb/dev_sa/oper_rooster.frm
docker/mariadb/dev_sa/oper_rooster.ibd
docker/mariadb/dev_sa/ref_leden.frm
docker/mariadb/dev_sa/ref_leden.ibd
docker/mariadb/dev_sa/ref_types.frm
docker/mariadb/dev_sa/ref_types.ibd
docker/mariadb/dev_sa/ref_vliegtuigen.frm
docker/mariadb/dev_sa/ref_vliegtuigen.ibd
docker/mariadb/dev_sa/rooster_view.frm
docker/mariadb/dev_sa/types_view.frm
docker/mariadb/dev_sa/vliegtuigen_view.frm
docker/mariadb/gezc_org_sadb/daginfo_view.frm
docker/mariadb/gezc_org_sadb/dagoverzicht_view.frm
docker/mariadb/gezc_org_sadb/db.opt
docker/mariadb/gezc_org_sadb/flarm_view.frm
docker/mariadb/gezc_org_sadb/invoer_vliegtuigen_view.frm
docker/mariadb/gezc_org_sadb/ledenaanwezig_view.frm
docker/mariadb/gezc_org_sadb/ledenlijst_view.frm
docker/mariadb/gezc_org_sadb/oper_aanwezig.frm
docker/mariadb/gezc_org_sadb/oper_aanwezig.ibd
docker/mariadb/gezc_org_sadb/oper_daginfo.frm
docker/mariadb/gezc_org_sadb/oper_daginfo.ibd
docker/mariadb/gezc_org_sadb/oper_flarm.frm
docker/mariadb/gezc_org_sadb/oper_flarm.ibd
docker/mariadb/gezc_org_sadb/oper_gps.frm
docker/mariadb/gezc_org_sadb/oper_gps.ibd
docker/mariadb/gezc_org_sadb/oper_rooster.frm
docker/mariadb/gezc_org_sadb/oper_rooster.ibd
docker/mariadb/gezc_org_sadb/oper_startlijst.frm
docker/mariadb/gezc_org_sadb/oper_startlijst.ibd
docker/mariadb/gezc_org_sadb/ref_leden.frm
docker/mariadb/gezc_org_sadb/ref_leden.ibd
docker/mariadb/gezc_org_sadb/ref_vliegtuigen.frm
docker/mariadb/gezc_org_sadb/ref_vliegtuigen.ibd
docker/mariadb/gezc_org_sadb/startlijst_view.frm
docker/mariadb/gezc_org_sadb/startlijst_vlieger_view.frm
docker/mariadb/gezc_org_sadb/typegroep.frm
docker/mariadb/gezc_org_sadb/typegroep.ibd
docker/mariadb/gezc_org_sadb/types.frm
docker/mariadb/gezc_org_sadb/types.ibd
docker/mariadb/gezc_org_sadb/vliegtuigenaanwezig_view.frm
docker/mariadb/gezc_org_sadb/vliegtuigenlijst_view.frm
docker/mariadb/mysql/column_stats.frm
docker/mariadb/mysql/column_stats.MAD
docker/mariadb/mysql/column_stats.MAI
docker/mariadb/mysql/columns_priv.frm
docker/mariadb/mysql/columns_priv.MAD
docker/mariadb/mysql/columns_priv.MAI
docker/mariadb/mysql/db.frm
docker/mariadb/mysql/db.MAD
docker/mariadb/mysql/db.MAI
docker/mariadb/mysql/db.opt
docker/mariadb/mysql/event.frm
docker/mariadb/mysql/event.MAD
docker/mariadb/mysql/event.MAI
docker/mariadb/mysql/func.frm
docker/mariadb/mysql/func.MAD
docker/mariadb/mysql/func.MAI
docker/mariadb/mysql/general_log.CSM
docker/mariadb/mysql/general_log.CSV
docker/mariadb/mysql/general_log.frm
docker/mariadb/mysql/global_priv.frm
docker/mariadb/mysql/global_priv.MAD
docker/mariadb/mysql/global_priv.MAI
docker/mariadb/mysql/gtid_slave_pos.frm
docker/mariadb/mysql/gtid_slave_pos.ibd
docker/mariadb/mysql/help_category.frm
docker/mariadb/mysql/help_category.MAD
docker/mariadb/mysql/help_category.MAI
docker/mariadb/mysql/help_keyword.frm
docker/mariadb/mysql/help_keyword.MAD
docker/mariadb/mysql/help_keyword.MAI
docker/mariadb/mysql/help_relation.frm
docker/mariadb/mysql/help_relation.MAD
docker/mariadb/mysql/help_relation.MAI
docker/mariadb/mysql/help_topic.frm
docker/mariadb/mysql/help_topic.MAD
docker/mariadb/mysql/help_topic.MAI
docker/mariadb/mysql/index_stats.frm
docker/mariadb/mysql/index_stats.MAD
docker/mariadb/mysql/index_stats.MAI
docker/mariadb/mysql/innodb_index_stats.frm
docker/mariadb/mysql/innodb_index_stats.ibd
docker/mariadb/mysql/innodb_table_stats.frm
docker/mariadb/mysql/innodb_table_stats.ibd
docker/mariadb/mysql/plugin.frm
docker/mariadb/mysql/plugin.MAD
docker/mariadb/mysql/plugin.MAI
docker/mariadb/mysql/proc.frm
docker/mariadb/mysql/proc.MAD
docker/mariadb/mysql/proc.MAI
docker/mariadb/mysql/procs_priv.frm
docker/mariadb/mysql/procs_priv.MAD
docker/mariadb/mysql/procs_priv.MAI
docker/mariadb/mysql/proxies_priv.frm
docker/mariadb/mysql/proxies_priv.MAD
docker/mariadb/mysql/proxies_priv.MAI
docker/mariadb/mysql/roles_mapping.frm
docker/mariadb/mysql/roles_mapping.MAD
docker/mariadb/mysql/roles_mapping.MAI
docker/mariadb/mysql/servers.frm
docker/mariadb/mysql/servers.MAD
docker/mariadb/mysql/servers.MAI
docker/mariadb/mysql/slow_log.CSM
docker/mariadb/mysql/slow_log.CSV
docker/mariadb/mysql/slow_log.frm
docker/mariadb/mysql/table_stats.frm
docker/mariadb/mysql/table_stats.MAD
docker/mariadb/mysql/table_stats.MAI
docker/mariadb/mysql/tables_priv.frm
docker/mariadb/mysql/tables_priv.MAD
docker/mariadb/mysql/tables_priv.MAI
docker/mariadb/mysql/time_zone_leap_second.frm
docker/mariadb/mysql/time_zone_leap_second.MAD
docker/mariadb/mysql/time_zone_leap_second.MAI
docker/mariadb/mysql/time_zone_name.frm
docker/mariadb/mysql/time_zone_name.MAD
docker/mariadb/mysql/time_zone_name.MAI
docker/mariadb/mysql/time_zone_transition_type.frm
docker/mariadb/mysql/time_zone_transition_type.MAD
docker/mariadb/mysql/time_zone_transition_type.MAI
docker/mariadb/mysql/time_zone_transition.frm
docker/mariadb/mysql/time_zone_transition.MAD
docker/mariadb/mysql/time_zone_transition.MAI
docker/mariadb/mysql/time_zone.frm
docker/mariadb/mysql/time_zone.MAD
docker/mariadb/mysql/time_zone.MAI
docker/mariadb/mysql/transaction_registry.frm
docker/mariadb/mysql/transaction_registry.ibd
docker/mariadb/mysql/user.frm
docker/mariadb/performance_schema/db.opt
//vmware-host/Shared Folders/Documents/startadmin.git/log/debug.txt
//vmware-host/Shared Folders/Documents/startadmin.git/log/error.txt
//vmware-host/Shared Folders/Documents/startadmin.git/log/exec.txt
//vmware-host/Shared Folders/Documents/startadmin.git/log/insert.txt
//vmware-host/Shared Folders/Documents/startadmin.git/log/sql.txt
//vmware-host/Shared Folders/Documents/startadmin.git/log/update.txt
oud_sa/php/main.php
oud_sa/php/inc/class.Aanwezig.inc.php
oud_sa/php/inc/class.cidr.inc.php
oud_sa/php/inc/class.CommStatus.inc.php
oud_sa/php/inc/class.Controle.inc.php
oud_sa/php/inc/class.Daginfo.inc.php
oud_sa/php/inc/class.Flarm.inc.php
oud_sa/php/inc/class.GPS.inc.php
oud_sa/php/inc/class.Leden.inc.php
oud_sa/php/inc/class.MyGlide.inc.php
oud_sa/php/inc/class.Rooster.inc.php
oud_sa/php/inc/class.Startlijst.inc.php
oud_sa/php/inc/class.Types.inc.php
oud_sa/php/inc/class.ZonOpOnder.inc.php
oud_sa/php/inc/PasswordHash.php
oud_sa/php/vendor/autoload.php
oud_sa/php/vendor/composer/autoload_classmap.php
oud_sa/php/vendor/composer/autoload_namespaces.php
oud_sa/php/vendor/composer/autoload_psr4.php
oud_sa/php/vendor/composer/autoload_real.php
oud_sa/php/vendor/composer/autoload_static.php
oud_sa/php/vendor/composer/ClassLoader.php
oud_sa/php/vendor/composer/installed.json
oud_sa/php/vendor/composer/LICENSE
oud_sa/php/vendor/phpmailer/phpmailer/COMMITMENT
oud_sa/php/vendor/phpmailer/phpmailer/composer.json
oud_sa/php/vendor/phpmailer/phpmailer/get_oauth_token.php
oud_sa/php/vendor/phpmailer/phpmailer/LICENSE
oud_sa/php/vendor/phpmailer/phpmailer/README.md
oud_sa/php/vendor/phpmailer/phpmailer/SECURITY.md
oud_sa/php/vendor/phpmailer/phpmailer/VERSION
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-am.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-ar.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-az.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-ba.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-be.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-bg.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-ca.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-ch.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-cs.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-da.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-de.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-el.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-eo.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-es.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-et.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-fa.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-fi.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-fo.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-fr.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-gl.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-he.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-hi.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-hr.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-hu.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-id.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-it.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-ja.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-ka.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-ko.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-lt.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-lv.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-mg.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-ms.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-nb.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-nl.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-pl.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-pt_br.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-pt.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-ro.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-ru.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-sk.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-sl.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-sr.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-sv.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-tl.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-tr.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-uk.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-vi.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-zh_cn.php
oud_sa/php/vendor/phpmailer/phpmailer/language/phpmailer.lang-zh.php
oud_sa/php/vendor/phpmailer/phpmailer/src/Exception.php
oud_sa/php/vendor/phpmailer/phpmailer/src/OAuth.php
oud_sa/php/vendor/phpmailer/phpmailer/src/PHPMailer.php
oud_sa/php/vendor/phpmailer/phpmailer/src/POP3.php
oud_sa/php/vendor/phpmailer/phpmailer/src/SMTP.php
postman///vmware-host/Shared Folders/Documents/startadmin.git/log/sql.txt
